<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Justin Holmberg</title>
    <link rel="stylesheet" href="{{ '/styles.css' | url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism-okaidia.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
    </head>
    <body class="flex justify-between mx-16 my-12 gap-8 bg-primary text-secondary text-base font-light font-sans">
        <header class="flex flex-col gap-5 w-1/4 uppercase tracking-widest">
            <div><a class="text-xl font-normal" href="{{ '/' | url }}">Justin Holmberg</a></div>
            <ul class="text-sm space-y-2">
                <li><a href="{{ '/#projects' | url }}">Projects</a></li>
                <li><a href="{{ '/#about' | url }}">About Me</a></li>
                <li><a href="{{ '/#connect' | url }}">Connect</a></li>
            </ul>
        </header>
        {{ content | safe }}
    </body>
</html>