---
layout: "base.njk"
---

<div class="flex flex-col sm:w-3/4">
  <div>
    {# PROJECT SUMMARY & CONTEXT CARD: - cover img - one line desciptor - link for live product
    (title) - link for file repository - list of skills applied/learned - project description #}
    <div>
      <div>
        {# COVER IMAGE #}
        <img class="max-w-full pb-4 project-cover-img" src="{{ coverImg | url }}" alt="{{ altText }}" />

        <div>
          {# SKILLS list #}
          <ul class="flex flex-row items-center gap-1 text-sm font-light uppercase">
            {% for tag in tags %}
            <li>{{ tag }}{% if not loop.last %} |{% endif %}</li>
            {% endfor %}
          </ul>
          {# TITLE product link #}
          <h1 class="text-xl font-medium tracking-wide pt-0.5"><a href="{{ liveDemo }}">{{ title }}</a></h1>

          {# ONELINER desciptor #}
          <div class="font-mono text-base">{{ oneLiner }}</div>
        </div>
        <div class="divider my-4 h-px w-0 bg-secondary"></div>

        {# DESCRIPTION p #}
        <div>
          <div class="">{{ projectDescription | safe }}</div>
        </div>
      </div>
    </div>
  </div>

  {# CONTENT #}
  <div>{{ content | safe }}</div>
  {# FOOTER: home link, repository link #}
  <footer class="pb-8">
    {# DIVIDER #}
    <div class="divider my-4 h-px w-0 bg-secondary"></div>
    <div class="flex flex-row gap-4">
      <div class="flex flex-row gap-2 font-mono text-base uppercase items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1.1rem"
          viewBox="0 0 24 24"
          width="1.1rem"
          fill="white"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
        </svg>
        <a href="{{ '/' | url }}">PROJECTS</a>
      </div>

      <div class="flex flex-row gap-1 font-mono text-base uppercase items-center">
        <a href="{{projectRepository}}" target="_blank" rel="noopener noreferrer"
          >REPOSITORY</a
        >
        {% externalLinkIcon "1.1rem", "white" %}
      </div>
    </div>
  </footer>
</div>
