---
layout: "base.njk"
---

<div class="sm:contents">
  <div>
    <img class="project-cover-img max-w-full pb-4" src="{{ coverImg | url }}" alt="{{ altText }}" />

    <div class="flex flex-row items-center justify-between gap-4 text-sm font-light uppercase">
      <ul class="flex flex-row flex-wrap items-center gap-1">
        {% for tag in tags %}
        <li>{{ tag }}{% if not loop.last %} |{% endif %}</li>
        {% endfor %}
      </ul>
      {% if timeline %}
      <span class="shrink-0">{{ timeline }}</span>
      {% endif %}
    </div>

    <h1 class="pt-0.5 text-xl font-medium tracking-wide">
      {% if liveDemo %}
      <a href="{{ liveDemo }}" target="_blank" rel="noopener noreferrer">{{ title }}</a>
      {% else %} {{ title }} {% endif %}
    </h1>

    <div class="font-mono text-base">{{ oneLiner }}</div>
    <div class="divider bg-secondary my-4 h-px w-0"></div>

    <div class="pb-16">{{ projectDescription | safe }}</div>
  </div>

  {{ content | safe }}

  <footer class="pb-16 sm:col-span-2 sm:col-start-1">
    <div class="divider bg-secondary my-4 h-px w-0"></div>
    <div class="flex flex-row gap-4 sm:gap-8">
      <div class="flex flex-row items-center gap-2 font-mono text-base uppercase sm:text-lg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1.1rem"
          viewBox="0 0 24 24"
          width="1.1rem"
          fill="white"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
        </svg>
        <a href="{{ '/' | url }}">PROJECTS</a>
      </div>

      <div class="flex flex-row items-center gap-1 font-mono text-base uppercase sm:text-lg">
        <a href="{{ projectRepository }}" target="_blank" rel="noopener noreferrer">REPOSITORY</a>
        {% externalLinkIcon "1.1rem", "white" %}
      </div>
    </div>
  </footer>
</div>
