body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    background-color: #2a2a2a;
    color: white;
    justify-content: space-between;
    padding: 1.2rem;
    gap: 1.2rem;
}
header {
    width: 25%;
    position: sticky;
    top: 1rem;
    text-transform: uppercase;
    white-space: nowrap;
}
main {
    width: 75%;
}
a {
    text-decoration: none;
    color: #ffffff;
}
img {
    max-width: 100%;
    padding-bottom: 1rem;
}
h1 {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    margin: 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
ul li {
    letter-spacing: .1rem;
    margin-bottom: .5rem;
}
.title-name {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 500;
}
.projects {
    padding-bottom: 4rem;
}
.oneliner {
    font-family: "Source Code Pro", monospace;
    font-style: normal;
    font-size: 1.2rem;
}
.divider {
    background-color: white;
    height: .1rem;
    width: 100%;
    margin-top: 1rem;
}
.content-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding-bottom: 4rem;
}
.about {
    flex: 1;
    min-width: 50%;
}
.contact {
    flex: 1;
}
@media (max-width: 768px) {
    header {
        display: none; /* Hides the sidebar */
    }
    main {
        width: 100%; /* Makes the main content take full width */
    }
    .about {
        min-width: 75%;
    }
}