body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    background-color: #2a2a2a;
    color: white;
    justify-content: space-between;
    padding: 1.2rem;
    margin: 0;
    gap: 1.2rem;
}
a {
    text-decoration: none;
    color: #ffffff;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#block-container {
    display: block;
}

/* ! header section  ! */
header {
    width: 25%;
    position: sticky;
    top: 1rem;
    text-transform: uppercase;
    white-space: nowrap;
}
h1 {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    margin: 0;
}
nav ul li {
    letter-spacing: .1rem;
    margin: .5rem 0;
}
.title-name {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 500;
}

/* ! main section ! */
main {
    width: 75%;
}
img {
    max-width: 100%;
    padding-bottom: 1rem;
}
.projects {
    padding-bottom: 3rem;
}

/* ! footer section  ! */
.content-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding-bottom: 4rem;
}
.about {
    flex: 1;
    min-width: 50%;
}
.contact {
    flex: 1;
}

/* ! projects summary section ! */

/* included in homepage && project pages */
.oneliner {
    font-family: "Source Code Pro", monospace;
    font-style: normal;
    font-size: 1.2rem;
}
.divider {
    background-color: white;
    height: .1rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* ONLY project pages */
.content-flex-container {
    display: flex;

    width: 100%;
    gap: 1.2rem;
    padding-bottom: 6rem;
}
.stacked-container {
    display: flex;
    align-items: end;
    width: 100%;
    gap: 1.2rem;
    padding-bottom: 1rem;
}
.content {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: end;
    gap: 0.5rem;
}
.hidden {
    display: flex;
    visibility: hidden;
    opacity: 0;
    width: 25%;
    flex-direction: column;
    justify-content: end;
    gap: 0.5rem;
}
.content p {
    margin: 0;
}
.project-desc {
    width: 75%;
    padding-bottom: 0;
}
.content img {
    padding-bottom: 0;
}
.project-intro {
    display: flex;
    justify-content: space-between;
}
.repo-link {
    font-weight: 200;
    display: flex;
    align-items: center;
}
.project-desc-tags {
    display: flex;
    justify-content: space-between;
}
video.mobile {
    width: 100%;
    max-width: 400px;
    height: auto;
}
video.desktop {
    width: 100%;
    max-width: 1000px;
    height: auto;
}
#style-guide {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding-bottom: 0;
}
.img-square {
    width: 100%;
    max-width: 400px;
    height: 100%;
}
pre {
    width: 100%;
    max-width: 1000px;
    max-height: 700px;
    font-size: .9rem !important;
    overflow: hidden auto !important;
    border: 1px solid rgb(125, 125, 125) !important;
    margin: 0 !important;
  }
.tag-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    gap: .5rem;
    width: 25%;
    font-weight: 200;
    text-transform: uppercase;
}
footer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-bottom: 4rem;
}

@media (max-width: 768px) {
    header {
        display: none;
    }
    main {
        width: 100%;
    }
    .about {
        min-width: 75%;
    }
    .oneliner {
        font-size: 1rem;
    }
}

@media (min-width: 1600px) {
    body {
        padding: 3rem;
        gap: 2rem;
    }
    .content-flex-container, .stacked-container {
        gap: 2rem;
    }
}