---
layout: "base.njk"
---

{# MAIN: single block in right column, inline with nav on left #}
<div class="sm:col-start-2" id="projects">
  {% for project in collections.projects %}
  <div class="pb-6">
    <a class="project-card block" href="{{ project.url }}">
      <img
        class="project-cover-img max-w-full pb-4"
        src="{{ project.data.coverImg | url }}"
        alt="{{ project.data.altText }}"
      />
      <div class="text-sm font-light">
        {% if project.data.homepageTags %} {{ project.data.homepageTags | join(" | ") }} {% else %}
        {{ project.data.tags | join(" | ") }} {% endif %}
      </div>
      <h1 class="pt-0.5 text-xl font-medium tracking-wide uppercase">{{ project.data.title }}</h1>
      <div class="font-mono text-base">{{ project.data.oneLiner }}</div>
      <div class="divider bg-secondary my-4 h-px w-0"></div>
    </a>
  </div>
  {% endfor %}
</div>
<div class="hidden sm:col-start-1 sm:block"></div>
{# FOOTER #}
<div class="flex flex-col gap-8 pb-16 sm:col-start-2">
  {# PROFILE PICTURE #}
  <div class="w-[50vw] shrink-0 sm:w-64 md:w-72 lg:w-80 xl:w-96">
    <img
      class="aspect-3/4 w-full object-cover object-top"
      src="{{ '/assets/pfp.jpg' | url }}"
      alt="Justin Holmberg"
    />
  </div>
  {# ABOUT description #}
  <div id="about" class="space-y-2">
    <h1 class="text-xl font-medium tracking-wide">ABOUT</h1>
    <p>
      Hi, I recently graduated from the University of Maryland, College Park, with a degree in 
      Technology & Information Design (May, 2026). I'm interested in AI-driven methods for Product 
      and UX design, frontend development, and the ethical use of technology to create tools with 
      positive impact. I believe that software is a tool that has the ability to greatly affect 
      people's lives and therefore should be used responsibly. Currently reading 
      <a href="https://www.goodreads.com/en/book/show/171681821-the-anxious-generation" 
      target="_blank" rel="noopener noreferrer">"The Anxious Generation"</a> by Jonathan Haidt.
    </p>
  </div>
  {# WEBSITE description #}
  <div class="space-y-2">
    <h1 class="text-xl font-medium tracking-wide">WEBSITE</h1>
    <p>
      Welcome to my portfolio site, built using Eleventy/11ty, Tailwind, and *agentic engineering*.
    </p>
    <div class="flex flex-row items-center gap-1 pt-2 font-mono text-base uppercase">
      <a href="https://github.com/jholmbe/portfolio" target="_blank" rel="noopener noreferrer"
        >REPOSITORY</a
      >
      {% externalLinkIcon "1.1rem", "white" %}
    </div>
  </div>

  {# CONTACT links #}
  <div id="connect" class="space-y-4">
    <h1 class="text-xl font-medium tracking-wide">CONNECT</h1>
    <ul class="space-y-2 font-mono text-base uppercase *:flex *:flex-row *:items-center *:gap-1">
      <li>
        <a href="mailto:justindholmberg@gmail.com" target="_blank">justindholmberg@gmail.com</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/justin-holmberg/" target="_blank"
          >linkedin.com/in/justin-holmberg</a
        >{% externalLinkIcon "1.1rem", "white" %}
      </li>
      <li>
        <a href="https://github.com/jholmbe" target="_blank">github/jholmbe</a>{% externalLinkIcon
        "1.1rem", "white" %}
      </li>
    </ul>
  </div>
</div>
