---
layout: "base.njk"
---

{# MAIN: single block in right column, inline with nav on left #}
<div class="sm:col-start-2" id="projects">
  {% for project in projects %}
  <div class="pb-6">
    <a class="project-card block" href="{{ project.slug | url }}">
      {# COVER IMAGE #}
      <img class="max-w-full pb-4 project-cover-img" src="{{ project.img | url }}" alt="{{ project.alt }}" />
      {# SKILLS list #}
      <div class="text-sm font-light">{{ project.role }}</div>
      {# TITLE product link #}
      <h1 class="text-xl font-medium tracking-wide pt-0.5">{{ project.title }}</h1>
      {# ONELINER desciptor #}
      <div class="font-mono text-base">{{ project.oneliner }}</div>
      {# DIVIDER #}
      <div class="divider my-4 h-px w-0 bg-secondary"></div>
    </a>
  </div>
  {% endfor %}
</div>
<div class="hidden sm:block sm:col-start-1"></div>
{# FOOTER #}
<div class="flex flex-col gap-8 pb-16 sm:col-start-2">
    {# ABOUT description #}
  <div id="about" class="space-y-2">
    <h1 class="text-xl font-medium tracking-wide">ABOUT</h1>
    <p>
      Software is a tool that has the ability to greatly affect people's lives, 
      therefore it should be used responsibly. I'm interested in AI-driven 
      methods for Product and UX design, frontend development, and the ethical use of 
      technology to create tools with positive impact.
    </p>
  </div>
    {# WEBSITE description #}
    <div class="space-y-2">
      <h1 class="text-xl font-medium tracking-wide">WEBSITE</h1>
      <p>
        Welcome to my portfolio site, built using Eleventy/11ty, Tailwind, and *agentic engineering*. 
      </p>
      <div class="flex flex-row gap-1 font-mono text-base uppercase items-center pt-2">
        <a href="https://github.com/jholmbe/portfolio" target="_blank" rel="noopener noreferrer"
          >REPOSITORY</a
        >
        {% externalLinkIcon "1.1rem", "white" %}
      </div>
    </div>

    {# CONTACT links #}
    <div id="connect" class="space-y-4">
      <h1 class="text-xl font-medium tracking-wide">CONNECT</h1>
      <ul class="space-y-2 font-mono text-base uppercase *:flex *:items-center *:gap-1 *:flex-row">
        <li><a href="mailto:justindholmberg@gmail.com" target="_blank">justindholmberg@gmail.com</a></li>
        <li><a href="https://www.linkedin.com/in/justin-holmberg/" target="_blank">linkedin.com/in/justin-holmberg</a>{% externalLinkIcon "1.1rem", "white" %}</li>
        <li><a href="https://github.com/jholmbe" target="_blank">github/jholmbe</a>{% externalLinkIcon "1.1rem", "white" %}</li>
      </ul>
    </div>
  </div>
</div>
