@import "tailwindcss";

@theme {
  --color-primary: #2a2a2a;
  --color-secondary: #ffffff;
  --font-sans: "Fira Sans", sans-serif;
  --font-mono: "Source Code Pro", monospace;
  --animate-expand: expand-width 2s ease-in-out forwards;
}

@keyframes expand-width {
  from { width: 0%; }
  to { width: 100%; }
}

/* @layer base {
  a {
    text-decoration: none;
    color: var(--color-secondary);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset-inline: 0;
      bottom: -0.1rem;
      height: 1px;
      width: 0;
      background-color: var(--color-secondary);
      transition: width 0.4s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .project-card::after {
    display: none;
  }
} */