---
layout: "project.njk"
# summary section
coverImg: "/assets/fabric-imgs/fabric-cover-img.png"
altText: "FABRIC landing page"
title: "FABRIC"
oneLiner: "timeless creative coding archive"

# tags: skills & tech stack
tags: ["UI Design", "Figma"]
timeline: "October - December, 2025"

# project-repository: link for github or figma files
projectRepository: "https://www.figma.com/design/whBdTtHeYTjxt76ZEqFvZj/Justin-Holmberg?node-id=288-623"

# live-demo: product link
liveDemo: ""

# context & summary
projectDescription: |
  <b>FABRIC</b> is a 6-week solo UI design project for a UMD course, where I focused on a personal interest of portfolio building and library sciences.
  I designed a creative coding archive that helps creative technologists contextualize design trends and technology. The key idea is that design is timeless and
  always influencing today's work.

# permalink: 11ty internal link
permalink: "/fabric/"
---

{# PROBLEM #}
<section class="content-flex-container">
  <div class="content">
    <h1>PROBLEM</h1>
    <p>
      Creative technologists often rely on current trends for inspiration, but rarely examine the
      history or context about why past trends emerged, how technology influenced them, or how
      earlier styles shaped today's aesthetics.
    </p>
  </div>
  <img class="project-desc" src="{{ '/assets/fabric-imgs/fabric-home-img.png' | url }}" alt="x" />
</section>

<section class="stacked-container">
  <div class="hidden"></div>
  <img class="project-desc" src="{{ '/assets/fabric-imgs/fabric-saved-img.png' | url }}" alt="x" />
</section>

<section class="content-flex-container">
  <div class="content">
    <h1>UX & PAIN-POINTS</h1>
    <p>
      Creatives can expect familiar flows like curating collections.
      <br />
      <br />
      Platforms push trends and curates visual same-ness. Past styles and technologies are hard to
      find, understand, or contextualize. No centralized tool for exploring design history.
    </p>
  </div>
  <img class="project-desc" src="{{ '/assets/fabric-imgs/fabric-folder-img.png' | url }}" alt="x" />
</section>

<section class="content-flex-container">
  <div class="content">
    <h1>VISUAL DESIGN</h1>
    <p>My visual brainstorm, crafting the personality of an artist who loves tech.</p>
  </div>
  <img
    class="project-desc"
    src="{{ '/assets/fabric-imgs/fabric-moodboard-img.png' | url }}"
    alt="x"
  />
</section>

<section class="content-flex-container">
  <div class="content">
    <h1>STYLE GUIDE</h1>
    <p>
      Purple and white-tinted-yellow are the primary colors. Purple and yellow are complementary,
      representing creativity and warmth, respectively.
      <br />
      <br />
      The font and icons feel handwritten, artsy, and modern.
      <br />
      <br />
      the name <b>FABRIC</b> refers to both a material of woven fibers —each artwork intertwined on
      one central platform— and to the fabric of time, reflecting how artwork is timeless, living,
      and always influential.
    </p>
  </div>
  <img
    class="project-desc"
    src="{{ '/assets/fabric-imgs/fabric-style-guide.png' | url }}"
    alt="x"
  />
</section>

<section class="content-flex-container">
  <div class="content">
    <h1>REFLECTION</h1>
    <p>
      This project was primarily for visual design practice more than UX and I found that moodboards
      are great starting points for visual design or anything artistic. I will be sharing it with my
      xFoundry team. Also, if you want to take my design and vibe-code, good luck.
    </p>
  </div>
  <img class="project-desc" src="{{ '/assets/fabric-imgs/fabric-wireframe.png' | url }}" alt="x" />
</section>
