---
layout: "project.njk"
# summary section
coverImg: "/assets/fabric-imgs/fabric-cover-img.png"
altText: "FABRIC landing page"
title: "FABRIC"
oneLiner: "timeless creative coding archive"

# tags: skills & tech stack
tags: ["UI Design", "Branding", "Figma"]
timeline: "October - December, 2025"

# project-repository: link for github or figma files
projectRepository: "https://www.figma.com/design/whBdTtHeYTjxt76ZEqFvZj/Justin-Holmberg?node-id=288-623"

# live-demo: product link
liveDemo: "https://jholmbe.github.io/snake-game/"

# context & summary 
projectDescription: | 
    <b>FABRIC</b> is a 6-week solo UI design project for a UMD course, where I focused on a personal interest of portfolio building and library sciences.
    I designed a creative coding archive that helps creative technologists contextualize design trends and technology. The key idea is that design is timeless and
    always influences today's work.

# permalink: 11ty internal link
permalink: "/fabric/"
---
{# INTERFACE Explanation #}
<section class="stacked-container">
    <div class="hidden">
    </div>
    <img class="project-desc" src="{{ '/assets/fabric-imgs/fabric-home-img.png' | url }}" alt="x"/>
</section>

<section class="stacked-container">
    <div class="hidden">
    </div>
    <img class="project-desc" src="{{ '/assets/fabric-imgs/fabric-saved-img.png' | url }}" alt="x"/>
</section>

<section class="stacked-container">
    <div class="hidden">
    </div>
    <img class="project-desc" src="{{ '/assets/fabric-imgs/fabric-folder-img.png' | url }}" alt="x"/>
</section>

<section class="content-flex-container">
    <div class="content">
        <h1>VISUAL DESIGN</h1>
        <p>
            Crafting the personality of an artist who loves tech.
        </p>
    </div>
    <img class="project-desc" src="{{ '/assets/fabric-imgs/fabric-moodboard-img.png' | url }}" alt="x"/>
</section>