---
layout: "project.njk"
# summary section
coverImg: "/assets/kilter-cover-img.png"
altText: "Project: Kilter UI Landing Page"
title: "project: kilter"
oneLiner: "minimalist spreadsheet application for fitness"

# tags: skills & tech stack
tags: ["UI/UX", "Figma"]
timeline: "February - May, 2025"

# project-repository: link for github or figma files
projectRepository: "https://www.figma.com/design/c1R8ZvYfWZCdND8tk8jXxa/Justin-Holmberg?node-id=8300-306&t=SR4SdEa6JczO4nUM-1"

# live-demo: product link
liveDemo: "https://live-demo-link.com"

# context & summary 
projectDescription: | 
    <em>project: kilter</em> is a design project for UMD's INST451 class. The professor requested for the class to design for a
    personal passion; my focus was weightlifting. Furthermore, teaching staff provided mentorship during our five
    design sprints in the semester. The objective of the class was UI/UX and not the programming of the interfaces.
    
    Weightlifters with 2+ years experience lack tools truly optimized for their workflow. Spreadsheets and plain-text 
    methods are functional and customizable, but may leave gains on the table because they're not built for advanced 
    lifters. Project: Kilter seeks to optimize current methods of tracking personal fitness by offering a user-friendly 
    interface, modular features, and leveraging the community through the plugins system.

# permalink: 11ty internal link
permalink: "/projects/project-kilter/"
---
<!-- context -->
<!-- summary -->

<!-- final UI design -->
<p>
    Show a demo of the final prototype
    Explain the product such as
    - Minimalist spreadsheet application optimized for weightlifters
    - This is achieved through the modular plugin system and intuitive interfaces. 
    - My take on the launching features — AI chatbot, metrics system, and lightweight social media app
</p>
<!-- research -->
<p>
    Throughout the project, I had reoccuring interviews with 5 intermediate-advanced weight lifters. In the initial 
    phase I had them all answer a google survey I put together. I made conclusions on primary motivations, important 
    values, and adding specific features, like an AI chatbot. The data from the discussions allowed me to create a 
    user persona, journey maps, compare competitors in the current market. 
</p>
<!-- process -->
<p>
    This was an independent project. Design sprint 1 was for research while the rest was focused on increasing the 
    fidelity of the prototypes. My approach to design was very top-down—having decided on specific features and 
    figuring out how to add it. My specific process looked like analyzing competitors features or bits of software 
    that have served me in the past and creating my own variation of it. I used sites like Dribble and explored 
    many different products (not just fitness ones) to inspire my design. 
</p>
<!-- styling guide -->