---
layout: "project.njk"
order: 4
coverImg: "/assets/kilter-imgs/kilter-cover-img.png"
altText: "Three mobile UI mockups of project: kilter standing vertically next to each other."
title: "project: kilter"
oneLiner: "minimalist spreadsheet application for weightlifting"
tags: ["UI/UX", "FIGMA", "@UMD"]
timeline: "SPRING SEMESTER 25'"
projectRepository: "https://www.figma.com/design/c1R8ZvYfWZCdND8tk8jXxa/Justin-Holmberg?node-id=8300-306&t=SR4SdEa6JczO4nUM-1"
projectDescription: |
  <em>project: kilter</em> is a 15-week solo design project for a UMD course, where I focused on my personal passion for weightlifting.
  I designed a modular spreadsheet application to give seasoned lifters the streamlined control missing from traditional training tools.
  The product centers on a plugin system and an intuitive interface that lets lifters customize their workflow to train more efficiently.
  The scope was limited to interface design without coding requirements. Final deliverables included 12-14 polished Figma screens or a
  project equal in effort.
permalink: "/project-kilter/"
---

{% from "macros/section.njk" import section, sectionGrid %} {% call sectionGrid() %}
<div class="order-2 flex flex-col justify-end gap-2 sm:order-0 sm:col-start-1">
  <h1 class="text-xl font-medium tracking-wide">INTERACTIVE PROTOTYPE</h1>
</div>
<div
  class="order-1 min-h-[800px] w-full pb-4 sm:order-0 sm:col-start-2 sm:aspect-9/16 sm:min-h-0 sm:max-w-[400px] sm:pb-0"
>
  {% figmaEmbed
  "https://www.figma.com/proto/c1R8ZvYfWZCdND8tk8jXxa/Justin-Holmberg?node-id=8300-306&t=xpIjGnFzuN5jO3dw-1",
  "kilter-figma-embed" %}
</div>
{% endcall %} {% call sectionGrid() %}
<div class="order-2 flex flex-col justify-end gap-2 sm:order-0 sm:col-start-1">
  <h1 class="text-xl font-medium tracking-wide">MOBILE UI</h1>
  <p>
    Most interactions happen during workouts, making mobile the priority. As lifters progress, they
    require less structure and more freedom, often favoring simple note-taking tools over rigid
    fitness apps. A <em>project: kilter</em> file starts as a single column with no grid lines.
    Users can add columns to define their own spreadsheet size.
  </p>
</div>
<div class="order-1 pb-4 sm:order-0 sm:col-start-2 sm:pb-0">
  <video
    class="aspect-9/16 w-full max-w-[400px] object-cover"
    src="{{ '/assets/kilter-imgs/kilter-demo.mp4' | url }}"
    autoplay
    loop
    muted
    playsinline
  >
    Your browser does not support the video tag.
  </video>
</div>
{% endcall %} {% call sectionGrid() %}
<div class="order-2 flex flex-col justify-end gap-2 sm:order-0 sm:col-start-1">
  <h1 class="text-xl font-medium tracking-wide">DESKTOP UI</h1>
  <p>
    Weightlifters often build routines while referencing multiple mediums. A desktop environment
    allows them to organize information and structure programs more efficiently compared to mobile.
    Cross-platform syncing ensures a seamless workflow between planning and execution.
  </p>
</div>
<video
  class="order-1 w-full pb-4 sm:order-0 sm:col-start-2 sm:pb-0"
  src="{{ '/assets/kilter-imgs/kilter-desktop-demo.mp4' | url }}"
  autoplay
  loop
  muted
  playsinline
>
  Your browser does not support the video tag.
</video>
{% endcall %} {% call section("PLUGIN SYSTEM", "/assets/kilter-imgs/kilter-plugins-img.png") %}
<p>
  Weightlifting goals are highly individual, much like programming or productivity. Accessed via a
  floating action button, plugins appear in a separate space. However, their functionality can be
  integrated into the spreadsheet itself — such as context-specific prompting or generating
  workouts.
</p>
{% endcall %} {% call section("STYLE GUIDE", "/assets/kilter-imgs/kilter-style-guide.png") %} {%
endcall %} {% call section("USER VALIDATION",
"/assets/kilter-imgs/kilter-user-research-summary.png") %}
<p>
  Over the semester, I led recurring interviews with 5 seasoned weightlifters. Their feedback
  validated my hypothesis to design simple and adaptable interfaces.
</p>
{% endcall %} {% call section("REFLECTION", "/assets/kilter-imgs/kilter-wireframe-grid.png", "",
"pb-8") %}
<p>
  If you're curious, you can explore the Figma file. This project taught me Figma, core UX
  practices, and the importance of keeping the scope narrow for efficient implementation. It
  ultimately evolved into a productivity tool that would be too challenging to build with my current
  programming skills.
</p>
{% endcall %}
