---
layout: "project.njk"
# summary section
coverImg: "/assets/snake-cover-img.png"
altText: "Snake Game Landing Page"
title: "Snake Game"
oneLiner: "browser-based arcade classic with custom UI"

# tags: skills & tech stack
tags: ["HTML/CSS", "Vanilla JS", "Figma DevTools", "Git"]
timeline: "June 2025"

# project-repository: link for github or figma files
projectRepository: "https://github.com/jholmbe/snake-game"

# live-demo: product link
liveDemo: "https://jholmbe.github.io/snake-game/"

# context & summary 
projectDescription: | 
    The classic Snake game, built using HTML, CSS, and Vanilla JavaScript, with a fully custom, responsive UI designed from
    scratch in Figma.
    <br>
    <br>
    I created this project independently, inspired by a 
    <a href="https://github.com/practical-tutorials/project-based-learning?tab=readme-ov-file" target="_blank">project-based learning repository</a> 
    that I found. My main objective was to learn javascript fundamentals and produce something tangible. The initial version of the game was rather rudimentary,
    so I thought—why not give it personality?

# permalink: 11ty internal link
permalink: "/projects/snake-game/"
---
<!-- context -->
<!-- summary -->
<!-- how did you make the design decisions?  -->
<section class="stacked-container">
    <div class="hidden">
    </div>
    <img class="img-square" src="/assets/snake-imgs/retro-tv-img-1.jpg" alt="x"/>
    <img class="img-square" src="/assets/snake-imgs/retro-tv-img-2.jpg" alt="x"/>
</section>
<section class="content-flex-container">
    <div class="content">
        <h1>UI DESIGN</h1>
        <p>
            Snake game is an arcade classic with some age to it. For the visual framing, I leaned into that nostalgia and 
            retro vibe—using a 2000s-era TV model (e.g., Toshiba) as the base. The color scheme was pulled from a mix of 
            vintage-styled photos I found on Pinterest. For the logo, I mimicked the metallic, embossed brand tags commonly 
            found on those models. 
            <br>
            <br>
            I added interactive elements because I wanted feedback from the interface beyond just 
            the snake. Obviously, a score counter was necessary, but I also thought it'd be more engaging to include a 
            speed-up mechanic and a pause function to match our ever decreasing attention spans. For the snake and apple, 
            I pulled ideas and colors from online sprite assets, then recreated them in my own way. Figma isn't the 
            most efficient tool for sprite work, but it was a fun process..
        </p>
    </div>
    {% figmaEmbed "https://www.figma.com/design/n2ibPSi47JYkUkFZc334xo/Snake-Design?node-id=0-1&t=a2KOMuhDsIpzszlD-1" %}
</section>
<!-- how did you get to the final code design? -->
<section class="content-flex-container ">
    <div class="content">
        <h1>THE CODE</h1>
        <p>
            Prior to starting this project, I worked through the MDN Web Docs on core HTML/CSS and JS modules (minus the React section). 
            I'm more comfortable in Python so programming logic isn't new to me, however, JavaScript syntax definitely still is. I do appreciate 
            clean, organized, and efficient code so I made an effort to group elements and be concise/descriptive with names.
            <br>
            <br>
            Furthermore, I kept a balanced approach when using AI tools. On one hand, I avoided them to practice my critical 
            thinking skills and maximize learning. On the other, AI was helpful for discovering JavaScript-specific concepts, coding conventions, 
            common practices, and for debugging my code.
        </p>
    </div>
    <!-- code editor containing snake-game js file -->
    {% embedJS "src/assets/snake-script.js" %}
</section>
<!-- anything else you'd like to mention? -->
<section class="stacked-container">
    <div class="hidden">
    </div>
    <video class="desktop" src="/assets/snake-imgs/snake-progress-day6.mp4" autoplay loop muted playsinline>
        Your browser does not support the video tag.
    </video>
</section>
<section class="content-flex-container ">
    <div class="content">
        <h1>RETROSPECTIVE</h1>
        <p>
           I wasn't very comfortable using Git when I started this project, so I kept the documentation in a text file. 
           As I've contributed more to this website, I've become more confident with Git and wish I took full 
           advantage of the commit history. 
           <br><br>
           All the files are public, so feel free to dive into them yourself.
        </p>
        <div class="repo-link">
            <a href="{{ projectRepository }}" target="_blank" rel="noopener noreferrer">Check out the <b>REPOSITORY</b></a>
        </div>
    </div>
    <video class="desktop" src="/assets/snake-imgs/snake-progress-day3.mp4" autoplay loop muted playsinline>
        Your browser does not support the video tag.
    </video>
</section>