---
layout: "project.njk"
# summary section
coverImg: "/assets/snake-cover-img.png"
altText: "Snake Game Landing Page"
title: "Snake Game"
oneLiner: "browser-based game with custom UI"

# tags: skills & tech stack
tags: ["HTML/CSS", "Vanilla JS", "Figma DevTools", "Git"]
timeline: "June 2025"

# project-repository: link for github or figma files
projectRepository: "https://github.com/jholmbe/snake-game"

# live-demo: product link
liveDemo: "https://jholmbe.github.io/snake-game/"

# context & summary 
projectDescription: | 
    The classic Snake game, built using HTML, CSS, and Vanilla JavaScript, with a fully custom, responsive UI designed from
    scratch in Figma.
    <br>
    <br>
    I created this project independently, inspired by a 
    <a href="https://github.com/practical-tutorials/project-based-learning?tab=readme-ov-file" target="_blank">project-based learning repository</a> 
    that I found. My main objective was to learn javascript fundamentals and produce something tangible. The initial version of the game was rather rudimentary,
    so I thought—why not give it personality?

# permalink: 11ty internal link
permalink: "/projects/snake-game/"
---
<!-- context -->
<!-- summary -->

<!-- final UI design -->
<section class="stacked-container">
    <div class="hidden">
    </div>
    <img class="img-square" src="/assets/snake-imgs/retro-tv-img-1.jpg" alt="x"/>
    <img class="img-square" src="/assets/snake-imgs/retro-tv-img-2.jpg" alt="x"/>
</section>
<section class="content-flex-container">
    <div class="content">
        <h1>FINAL UI</h1>
        <p>
            Snake game is an arcade classic with some age to it. For the visual framing, I leaned into that nostalgia and 
            retro vibe—using a 2000s-era TV model (e.g., Toshiba) as the base. The color scheme was pulled from a mix of 
            vintage-styled photos I found on Pinterest. For the logo, I mimicked the metallic, embossed brand tags commonly 
            found on those models. I added interactive elements because I wanted feedback from the interface beyond just 
            the snake. Obviously, a score counter was necessary, but I also thought it'd be more engaging to include a 
            speed-up mechanic and a pause function to match our ever decreasing attention spans. For the snake and apple, 
            I pulled ideas and colors from online sprite sheets and assets, then recreated them in my own way. Not the 
            most efficient tool for sprite work, but it was a fun process.
        </p>
    </div>
    <img class="img-square" src="/assets/snake-imgs/components.png" alt="x"/>
    <img class="img-square" src="/assets/snake-imgs/snake-display.png" alt="x"/>
</section>
<!-- how did you get to the final code design? -->
<section class="content-flex-container ">
    <div class="content">
        <h1>THE CODE</h1>
        <p>
            Prior to starting this project, I worked through the MDN Web Docs on core HTML/CSS and JS modules (minus the React section). 
            I'm more comfortable in Python so programming logic isn't new to me, however, JavaScript syntax definitely was. 
            I intentionally avoided guides and AI tools to maximize learning. That said, I hit a wall while trying to figure 
            out snake velocity logic. In that case, I used Copilot to help structure the logic. Occasionally, I would use 
            it to quickly translate ideas into working code. I do appreciate clean, organized, and efficient code so I 
            made an effort to group elements and be concise/descriptive with names. AI has been especially helpful when 
            it comes to discovering coding conventions and common practices.
        </p>
    </div>
    <!-- code editor containing snake-game js file -->
    {% embedJS "src/assets/snake-script.js" %}
</section>
<!-- process -->
<section class="content-flex-container ">
    <div class="content">
        <h1>THE PROCESS</h1>
        <p>
            Throughout the project, I had reoccuring interviews with 5 intermediate-advanced weight lifters. In the initial 
            phase I had them all answer a google survey I put together. I made conclusions on primary motivations, important 
            values, and adding specific features, like an AI chatbot. The data from the discussions allowed me to create a 
            user persona, journey maps, compare competitors in the current market. 
        </p>
    </div>
    <img class="project-desc" src="/assets/kilter-cover-img.png" alt="x"/>
</section>
<!-- styling guide -->
<section class="content-flex-container ">
    <div class="content">
        <h1>STYLING GUIDE</h1>
    </div>
    <img id="style-guide" src="/assets/style-guide-img.png" alt="x"/>
</section>