---
layout: "project.njk"
order: 1
coverImg: "/assets/zenith-imgs/zenith-cover.png"
altText: "Zenith project cover — replace with final image"
title: "zenith"
oneLiner: "social wellness mobile app targeting student loneliness at UMD"
tags: ["UI/UX DEV", "FLUTTER"]
timeline: "Oct. 2025 - Apr. 2026"
projectRepository: "https://github.com/isbellbr/Zenith"
projectDescription: |
  Zenith is a mobile app that started as a project for a mental health competition, xFoundry, at UMD. 
  We're a team of 10 people where we investigated the mental health space and decided on creating a 
  flutter/dart app with a firebase backend. Out of 5 engineers, I was the frontend specialist where 
  I designed and implemented the UI, user flows, styling, and helped the team focus on user research. 
  Many parts of the app are underdeveloped and untouched by a human but hopefully you can see the differences.
permalink: "/zenith/"
---

{% from "macros/section.njk" import section, sectionImageOnly, sectionGrid %} {% call section("CORE
FEATURES", "/assets/zenith-imgs/zenith-core.png", "Describe this image") %}
<p>
  Text-based daily and weekly reflection questions for deepening relationships and, cooperative
  challenges or quests between friends.
</p>
{% endcall %} {% call section("GAMIFICATION", "/assets/zenith-imgs/zenith-gamification.png",
"Describe this image") %}
<p>
  Attempted gamified approach including points system, badges, friend streaks, and mood tracking. We
  really wanted to create a scaffolding for students to touch grass.
</p>
{% endcall %} {% call section("FRIENDS", "/assets/zenith-imgs/zenith-friend-1.png", "Describe this
image") %}
<p>
  Classic friends functionality including user profiles, add/remove/pin users, direct messaging, and
  filtering based on interests. The IOS chat engine is IMMACULATE compared to this hunk but we
  try...
</p>
{% endcall %} {{ sectionImageOnly("/assets/zenith-imgs/zenith-friend-2.png", "Optional full-width
image between sections") }} {% call section("DARK MODE", "/assets/zenith-imgs/zenith-dark-mode.png",
"Describe this image") %}
<p>Some color inversion can't hurt.</p>
{% endcall %} {% call section("ONBOARDING", "/assets/zenith-imgs/zenith-onboarding-1.png", "Describe
this image") %}
<p>I'm particularly proud of creating this onboarding flow.</p>
{% endcall %} {{ sectionImageOnly("/assets/zenith-imgs/zenith-onboarding-2.png", "Optional
full-width image between sections") }} {% call section("COLORS",
"/assets/zenith-imgs/zenith-color-palette.png", "Describe this image") %}
<p>Taken from TailwindCSS</p>
{% endcall %} {% call section("MOODBOARD", "/assets/zenith-imgs/zenith-moodboard.png", "Describe
this image") %} 
{% endcall %} 
{% call section("GAMIFICATION EXPLORATION",
"/assets/zenith-imgs/zenith-gaming-ideas.png", "Describe this image") %}
<p>
  got to learn alot about the "darker" UX which needs careful balance if we're calling ourselves a
  mental health app.
</p>
{% endcall %}
{% call section("TEAM STRUCTURE",
"/assets/zenith-imgs/zenith-organization.png", "Describe this image") %}
<p>
  Examples of sprint TODO-list, my user research template, and one of our FigJams. Typically worked in
  one week sprints.
</p>
{% endcall %}
{% call section("PROBLEM",
"/assets/zenith-imgs/zenith-brainstorm.png", "Describe this image") %}
<p>
  For college students, depression and anxiety rates rose 20-25% post-pandemic, primarily due 
  to long-term isolation and social media use. Additionally, students commonly feel disconnected 
  when beginning college and during finals seasons. Feeling connection or making friends is done 
  through proximity, intention, consistency, and willingness to open up about problems so that 
  others can support you.
</p>
{% endcall %}
{% call section("RESULTS",
"/assets/zenith-imgs/zenith-first-implementation.png", "Describe this image") %}
<p>
  As a team of college students, we all have different priorities that took precedent over this app, 
  such as finals season, internships, and social commitments. We slowly worked on it less and less 
  before it ended and we never saw a finished product with actual users. I firmly believe we could 
  have made this a viable product within a year despite our part-time schedules. 
</p>
{% endcall %}
{% call section("TAKEAWAYS",
"/assets/zenith-imgs/zenith-early-figma.png", "Describe this image") %}
<p>
  I learned so many things from this app and working on a team such as the needs of a team, 
  AI agents, students' deepest struggles, AI prototyping, and common features across many different apps. 
  I also gained a community of coders and entrepreneurs which is arguably the whole point.
</p>
{% endcall %}